<html>

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>

<body style="background-color:#f5f5f7">
    <header class="p-3 bg-dark text-white">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <div style="display: inline-block;margin-right: 50px;font-size:large;">GoDoggo</div>

                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li><a href="{% url 'index' %}" class="nav-link px-2 text-white">Domov</a></li>
                </ul>

                <div class="text-end">
                    {% if request.session.authenticated == "True" %}
                    <a href="{% url 'logOut' %}" class="btn btn-outline-light me-2">Izpis</a>
                    {% else %}
                    <a href="{% url 'logIn' %}" class="btn btn-outline-light me-2">Vpis</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </header>
    {% block home %}

    {% endblock %}

</body>

</html>